* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#showcase {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/img_img/bg-cover.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img_img/bg-cover.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: white;
  margin-bottom: 3rem;
  width: 100%;
  position: relative;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  border-bottom: 1px solid white;
}

header #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 7rem;
  padding-left: 10px;
  color: white;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

header ul li {
  padding: 0 2rem;
  min-width: 100px;
}

header ul li a {
  color: white;
  text-shadow: 2px 2px 3px black;
}

header ul li a:hover {
  color: #a5a5a5;
}

header .burger {
  cursor: pointer;
  display: none;
  background: none;
  border: none;
}

header .burger div {
  width: 25px;
  height: 3px;
  background: white;
  margin: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 5px;
}

.typing-effect {
  margin-top: 10px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.typing-effect .typing {
  margin-left: 10px;
  position: relative;
}

.typing-effect .typing::after {
  content: "";
  position: absolute;
  right: -5px;
  width: 1px;
  height: 90%;
  border-right: 1px solid white;
  -webkit-animation: blink 0.6s ease infinite;
          animation: blink 0.6s ease infinite;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
  text-align: center;
  min-width: 370px;
}

.header-content h1 {
  font-weight: normal;
  position: relative;
}

.header-content p {
  margin: 5px 0 10px 0;
}

.history {
  padding: 0 2rem;
}

.history > div {
  margin: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.history > div:nth-child(even) .img-wrap {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.history > div:nth-child(even) .text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.img-wrap img {
  width: 100%;
  border-radius: 10px;
}

.img-wrap {
  width: 40%;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.text {
  opacity: 0;
  width: 40%;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.history p {
  line-height: 1.6;
  text-align: justify;
}

.history-active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.form-close {
  position: absolute;
  top: 5%;
  right: 30px;
  font-size: 25px;
  color: crimson;
  cursor: pointer;
  border: none;
  background: transparent;
}

#form {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#form.active {
  opacity: 1;
  pointer-events: all;
}

.form-content {
  background: teal;
  height: 50%;
  width: 400px;
  position: relative;
  border-radius: 10px;
}

.form-content.active {
  visibility: visible;
}

.form-content > div {
  width: 300px;
  background: white;
  height: 40px;
  margin: 10px 0;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.form-content > div input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  background: none;
  border: none;
  outline-color: teal;
  padding: 0 10px;
  font-family: "Poppins", sans-serif;
}

.form-content > div i {
  padding: 0 10px;
  color: teal;
}

.form-content input[type="submit"] {
  cursor: pointer;
  color: white;
  width: 100%;
  background: teal;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  height: 100%;
  border: 1px solid white;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

input[type="submit"]:hover {
  background: #04b4b4;
}

.fa-arrow-down {
  cursor: pointer;
}

.form-content div.inactive {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form-content div.active {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cta {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta p {
  margin: 10px 0 20px 0;
}

.cta-button {
  background: teal;
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

button[disabled] {
  background: gray;
  cursor: not-allowed;
}

button[disabled]:hover {
  background: grey;
}

.cta-button:hover {
  background: #04b4b4;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 30px 0;
  padding-top: 20px;
  border-top: 1px solid teal;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social li {
  list-style: none;
  margin-right: 5px;
}

.social li a {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  display: inline-block;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.social li a:hover {
  -webkit-transform: scale(0.5) translateY(-20px);
          transform: scale(0.5) translateY(-20px);
}

.innactive {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.active {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(15deg);
            transform: translate(-50%, -50%) rotate(15deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(15deg);
            transform: translate(-50%, -50%) rotate(15deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
}

@media (max-width: 1110px) {
  .history > div {
    display: block;
  }
  .history .text {
    width: 80%;
    margin: 0 auto;
  }
  .history .img-wrap {
    width: 60%;
    margin: 0 auto;
  }
}

@media (max-width: 960px) {
  header {
    display: block;
    height: auto;
    margin: 0;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid white;
  }
  header #logo {
    padding: 10px 0;
    margin: 0 auto;
  }
  header ul {
    padding: 5px 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  header li {
    text-align: center;
    display: block;
    margin: 0 auto;
    min-width: 82px;
    padding: 1 0.5rem;
  }
}

@media (max-width: 912px) {
  body {
    overflow-x: hidden;
  }
  #showcase {
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.2))), url(/img_img/holdboard.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(/img_img/holdboard.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    color: white;
    margin-bottom: 3rem;
    width: 100%;
    position: relative;
  }
  header {
    border: none;
  }
  header ul {
    background-color: teal;
    position: absolute;
    right: 0;
    top: 12%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80vh;
    width: 50vw;
    color: white;
    border-radius: 5px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: -webkit-transform 0.7s ease;
    transition: -webkit-transform 0.7s ease;
    transition: transform 0.7s ease;
    transition: transform 0.7s ease, -webkit-transform 0.7s ease;
  }
  header ul li {
    width: 100%;
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
  }
  header ul li:hover {
    background: #04b4b4;
  }
  header .burger {
    display: block;
    position: absolute;
    right: 0;
    top: 7%;
  }
  ul.nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
    pointer-events: all;
  }
  .close .stroke1 {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
            transform: rotate(45deg) translate(5px, 6px);
  }
  .close .stroke2 {
    opacity: 0;
  }
  .close .stroke3 {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
            transform: rotate(-45deg) translate(5px, -6px);
  }
}

@media (max-width: 726px) {
  .history .img-wrap {
    width: 90%;
  }
}

@media (max-width: 460px) {
  .typing-effect {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */